@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* @font-face {
  font-family: "Work Sans";
  src: url("assets/typos/ITCAvantGardeGothicPro/ITCAvantGardePro-Md.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
} */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #002539;
  background-color: #fff;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 60px;
  font-weight: normal;
  letter-spacing: 7px;
  line-height: normal;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 7px;
  line-height: normal;
  margin-bottom: 30px;
}
h3 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: normal;
  margin-bottom: 30px;
}
h4,
h5 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: normal;
}
h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
  font-weight: 450;
  letter-spacing: 0px;
  line-height: normal;
  letter-spacing: 0px;
}
strong {
  font-weight: 600;
}
sup {
  font-size: 20px;
}

p.bold {
  font-weight: 600;
}

.align-text-center {
  margin: 0 22%;
  text-align: center;
}
header {
  position: fixed;
  top: 5%;
  width: 100%;
  padding: 0 3%;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.logo {
  height: 110px;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #002539;
  font-size: 16px;
  text-transform: uppercase;
}
#burger {
  display: none;
}

.download-icon {
  font-size: 1.2rem;
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;

  color: inherit;
}

.scroll-down svg {
  font-size: 44px;
}

.hero {
  background: url("assets/images/Still_McKINLEY_OutdoorEveryday_FW24_19@2x.png")
    center/cover no-repeat;
  color: white;
  padding: 10rem 3%;
  text-align: left;
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  margin: 0 auto;
  text-align: left;
  letter-spacing: 8px;
  line-height: 1;
  text-shadow: 0px 3px 6px #00000029;
  color: #ffffff;
}

.hero-text h3,
.hero-text h1 {
  font-weight: 500;
  max-width: 47%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  margin: 3%;
  height: 100dvh;
  background: url("assets/images/SBloc 3 tills_McKinley_EverydayAdventures_SS25_09@2x.png")
    center/cover no-repeat;
  justify-content: center;
  color: white;
  font-weight: medium;
  align-items: flex-end;
}

.content p {
  max-width: 50%;
}

.image-block {
  flex: 1 1 400px;
}

.image-block img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.passion-outdoor {
  padding: 4rem 3% 0;
  color: white;
  background: url("assets/images/Still_McKINLEY_Outdoor_SS25_050@2x.png")
    center/cover no-repeat;
}

.intro h1 {
  margin-bottom: 2rem;
  font-weight: 500;
  max-width: 80%;
}
.half {
  width: 50%;
}

.intro-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* align-items: center; */
  flex-direction: column;
  color: #002539;
  background: white;
  max-width: 50%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: left;
  padding: 100px;
}

.intro-image {
  max-width: 100%;
}

.middle-section {
  padding: 3%;
}

.middle-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.middle-text > * {
  width: 50%;
}
.middle-text p {
  max-width: 80%;
}
.escape-section {
  position: relative;
  margin: 4rem 0;
}

.escape-section img {
  width: 100%;
  display: block;
}

.mont-McKinley {
  position: relative;
}
.mont-McKinley::before {
  content: "Le mont McKinley";
  color: white;
  position: absolute;
  bottom: 40px;
  left: 30px;
}
.profils {
  margin-top: 4rem;
  text-align: center;
}

.cards {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.card {
  flex: 1 1;
  text-align: left;
}

.card img {
  width: 100%;
  margin-bottom: 1rem;
}

.card h4 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.forty-years {
  display: flex;
  margin-top: 4rem;
  align-items: center;
}

.forty-years .text,
.forty-years .image {
  flex: 1 1 50%;
  background: #f7f7f7;
  height: 100%;
  align-content: stretch;
}

.forty-years .text h2 {
  margin-bottom: 1rem;
}

.forty-years .image img {
  width: 100%;
}

.timeline-section {
  padding: 4rem 0 3% 3%;
  background-color: #fff;
}

.timeline-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.timeline-header h2 {
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  color: #002539;
}
.timeline-controls,
.looks-controls {
  position: sticky;
  justify-content: flex-end;
  display: flex;
  margin-top: -60px;
  padding-right: 3%;
  width: 100%;
  gap: 50px;
}

.timeline-controls button,
.looks-controls button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  font-weight: 500;
  font-size: 28px;
  color: #002539;
}

.timeline-slider {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 100px;
  padding-top: 1rem;
}

.looks-slider::-webkit-scrollbar,
.timeline-slider::-webkit-scrollbar {
  height: 2px;
}

.looks-slider::-webkit-scrollbar-track,
.timeline-slider::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.looks-slider::-webkit-scrollbar-thumb,
.timeline-slider::-webkit-scrollbar-thumb {
  background-color: #002539;
}

.timeline-item {
  flex: 0 0 280px;
  margin-right: 16px;
}

.timeline-item img {
  width: 100%;
  height: auto;
}

.timeline-item h4 {
  font-weight: normal;
  font-size: 50px;
  color: #707070;
}

.timeline-item p {
  color: #002539;
  letter-spacing: 0px;
}

.testimonial-section {
  background-color: #fff;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
}

.quote-content {
  color: #002539;
  padding: 50px;
  width: 70%;
}

.quote-content h4 {
  color: #002539;
  font-weight: bold;
  margin-bottom: 1rem;
}

.quote-content .quote-main {
  color: #002539;
  font-weight: 700;
  font-size: 20px;
}
.quote-title {
  font-weight: 400;
}
.tech-section {
  position: relative;
  background: url("assets/images/FW23_McKINLEY_Outdoor_NextGenHiker_29@2x.png")
    center/cover no-repeat;
  height: 90dvh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
}

.tech-section p {
  max-width: 40%;
}
.tech-section h2 {
  padding-bottom: 1em;
  font-weight: 500;
}
.tech-category {
  background-color: #fff;
}

.tech-category h2 {
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  color: #002539;
  padding: 100px 0;
}
.forty-years {
  background-color: #f7f7f7;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.grid.reverse {
  direction: rtl;
}

.grid.reverse * {
  direction: ltr;
}

.grid-text {
  padding: 6%;
}

.grid-text h3 {
  color: #002539;
  margin-bottom: 30px;
}

.grid-text p {
  max-width: 90%;
}

.grid-img {
  position: relative;
  flex: 1 1 400px;
}

.grid-img img {
  width: 100%;
  display: block;
}

.grid-img .badge {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 40%;
  max-width: 180px;
}

.materials-section,
.shoes-section,
.responsable-section {
  padding: 4rem 2rem;
}

.materials-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  align-items: center;
}
.materials-grid img {
  max-width: 300px;
}
.materials-grid h3 {
  font-weight: 500;
  margin-bottom: 30px;
}

.materials-section h2,
.shoes-section h2 {
  text-align: center;
  color: #002539;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.shoes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.shoe-item {
  box-shadow: 6px 10px 10px #0000001a;
  /*padding: 1rem;*/
  flex: 1;
  padding: 20px 40px;
}

.shoe-item img {
  width: 100%;
  margin-bottom: 1rem;
}

.shoe-highlight {
  position: relative;
  margin-top: 2rem;
  display: flex;
}

.shoe-highlight video {
  margin: auto;
}

.overlay-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay-logo img {
  width: 60px;
  margin-bottom: 1rem;
}

.testimonial {
  display: flex;
  gap: 2rem;
  max-width: 85%;
  margin: auto;
}

.img-block-full {
  position: relative;
  background: url("assets/images/Still_McKINLEY_LandscapeBackdrop_SS25_002@2x.png")
    center/cover no-repeat;
  height: 100dvh;
}

.concept-section {
  background: url("assets/images/Still_McKINLEY_Outdoor_SS25_007@2x.png")
    center/cover no-repeat;
  height: 90dvh;
}

.img-block-full,
.concept-section {
  display: flex;
  align-items: center;
  color: white;
  padding: 3%;
}

.text-block {
  width: 50%;
}
.fabrication-section {
  padding: 3%;
}

.fabrication-france {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fabrication-france img.product-img {
  width: 100%;
  max-width: 500px;
  display: block;
}

.fabrication-france .caption {
  text-align: center;
  color: #555;
}
.fabrication-france ul {
  margin-left: 15px;
}
.fabrication-france ul li {
  margin: 10px 0;
}
.fabrication-france .text {
  margin-top: 50px;
}

.focus-produits .product-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
.focus-produits .product-row div {
  display: grid;
}
.focus-produits .product-row span {
  margin-left: 50px;
}

.focus-produits .product-row img {
  max-height: 250px;
}

.product-row .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-products-section {
  background-color: #f2f2f2;
  padding: 4rem 2rem;
}

.top-products-header h3 {
  color: #002539;
  text-align: left;
  margin-bottom: 2rem;
  max-width: 400px;

  font-weight: 600;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  align-items: center;
}

.product-card {
  background-color: white;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.product-card img {
  width: 100%;
}

.product-card p {
  font-weight: 600;
  color: #002539;
  margin: 15px 0;
}

.expert-testimonial {
  background-color: #f3f4f6;
  padding: 4rem 2rem;
}

.expert-testimonial .testimonial {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.quote-mark {
  color: #002539;
  line-height: 1;
}

.quote-content h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.quote-content p {
  margin-bottom: 1rem;
}

.looks-section {
  padding: 4rem 0 4em 3%;
}

.looks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.looks-header h2 {
  color: #002539;
  font-weight: 500;
  font-size: 50px;
  color: #002539;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.looks-controls button {
  background: none;
  border: none;
  cursor: pointer;
  color: #002539;
  margin-left: 1rem;
}

.looks-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  padding-top: 1rem;
  padding-bottom: 100px;
}

.look-card {
  flex: 1;
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px 3%;
}

.look-card:last-of-type {
  margin-right: 3%;
}
.look-card:first-of-type {
  margin-left: 3px;
}

.look-card img {
  max-width: 310px;
  height: auto;
  margin-bottom: 1rem;
}

.look-card h3 {
  color: #002539;
  margin-bottom: 0.5rem;
}

.look-card p {
  color: #333;
}

/* Footer */

.site-footer {
  background-color: #002539;
  color: white;
  padding: 3rem 2rem;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.footer-contact,
.footer-links,
.footer-legal {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-legal {
  flex: 1 1 33%;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-legal p,
.footer-contact p {
  line-height: 1.5;
  font-weight: normal;
  font-size: 14px;
}

.footer-contact a {
  color: white;
  text-decoration: underline;
  word-break: break-word;
}

.tracé {
  transform: rotate(180deg);
  height: 130px;
}

.mobile {
  display: none;
}

@media (max-width: 500px) {
  body:has(.nav-links.active) {
    overflow: hidden;
  }
  .mobile {
    display: block;
  }
  #burger {
    all: unset;
    display: block;
    color: white;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.4));
    font-size: 45px;
    z-index: 10;
  }
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  h4,
  h5 {
    font-size: 15px;
  }
  h5 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    font-weight: 500;
  }
  strong {
    font-weight: 600;
  }
  sup {
    font-size: 20px;
  }
  .half {
    width: 100%;
  }
  .grid,
  .products-grid,
  .materials-grid {
    display: block;
  }
  header {
    top: 1%;
    width: 100%;
    padding: 0 3%;
    z-index: 1000;
  }
  .logo {
    height: 55px;
  }

  .nav-links,
  .scroll-down,
  .looks-controls,
  .timeline-controls {
    display: none;
  }
  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30% 0;
    font-weight: bold;
    background: url("assets/images/Still_McKINLEY_OutdoorEveryday_FW24_19@2x.png");
    background-size: cover;
  }
  .nav-links li a {
    color: white;
  }
  .nav-links li {
    color: white;
    text-align: center;
  }

  .nav-links.active + #burger .open,
  .nav-links:not(.active) + #burger .close {
    display: none;
  }

  .hero {
    padding: 7rem 5%;
  }

  .hero-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero-text h3,
  .hero-text h1,
  .content p,
  .tech-section p,
  .intro-content,
  .text-block {
    max-width: 100%;
    width: 100%;
  }
  .content {
    display: block;
    padding: 2rem;
  }

  .intro-text {
    padding: 50px;
  }
  .tech-category h2 {
    padding: 40px 0;
  }

  .middle-text > * {
    width: 100%;
  }

  .middle-text p {
    max-width: 100%;
    padding: 3%;
  }

  .escape-section {
    margin: 2rem 0;
  }
  .align-text-center {
    margin: 0;
  }
  .fabrication-france .text {
    margin-top: 0px;
  }
  .cards {
    overflow-x: auto;
    justify-content: unset;
  }
  .card img {
    width: 240px;
    margin-bottom: 1rem;
  }
  .text-block {
    display: flex;
    padding: 30% 5%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .focus-produits .product-row {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .focus-produits .product-row img {
    max-height: unset;
    width: 100%;
  }
  .focus-produits .product-row span {
    margin: 0;
  }
  .focus-produits .product-row .badge {
    width: 25%;
  }
  .tech-section p {
    font-weight: 600;
  }
  .products-grid .product-card:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .quote-content {
    padding: 0;
    width: 100%;
  }
  .testimonial {
    flex-wrap: wrap;
    max-width: 100%;
  }

  .timeline-slider,
  .looks-slider {
    padding-bottom: 0;
  }
  .looks-slider::-webkit-scrollbar,
  .timeline-slider::-webkit-scrollbar {
    height: 0;
  }
  .concept-section {
    background-position: -200svw 0;
  }
  @supports (-webkit-touch-callout: none) {
  .background-parallax {
    background-attachment: scroll;
  }
}

}

